/* GENERAL */
body, * {
    font-family: 'Montserrat', sans-serif;
}
.no-padding { 
    padding: 0;
}
.full-width {
    width: 100%;
}
.center {
    text-align: center;
}
.top-bar, .navbar {
    z-index: 9;
}
.top-bar button {
    background-color: #003d7e;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    padding: 5px 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.navbar {
    background-color: rgba(27,27,27,0.7);
    border-radius: 0;
    border: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    margin: 0;
}
.navbar .navbar-brand {
    padding-top: 0;
}
.navbar .navbar-brand img {
    width: 150px;
}
.navbar .nav li a {
    padding: 5px 30px;
    border-radius: 12px;
    margin: 10px 0;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
.navbar .nav li a {
    color: #fff;
}
.nav>li>a>img {
    width: 20px;
    margin-top: -3px;
    margin-right: 5px;
}
.navbar .nav li.active a, .navbar .nav li:hover a {
    background-color: #003d7d;
    color: #fff;
}
.navbar-header .search {
    padding: 10px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.footer-container {
    margin-top: -20px;
}
footer {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: rgba(27,27,27,0.7);
    text-transform: uppercase;
}
footer .links, footer .social-links {
    padding: 15px 0 13px 0;
    margin: 0;
}
footer .social-links {
    text-align: right;
}
footer .links li, footer .social-links li {
    list-style: none;
    display: inline-block;
}
footer .links li {
    padding: 0 10px;
}
footer .social-links li {
    padding: 0 3px;
    font-size: 18px;
}
footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.floating-btns {
    position: absolute;
    top: 200px;
    right: 0;
    z-index: 1;
}
.floating-btns > button {
    margin: 10px 0;
    display: block;
    background: transparent;
    border: none;
}
.floating-btns > button img {
    width: 40px;
    border: 1px solid #003d7c;
    border-radius: 50%;
}
.page-container .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin-top: 60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.page-container .bg {
    background-image: url(../img/contact-bg.jpg);
}

/* HOMEPAGE */
.homepage {
    color: #fff;
}
.homepage .bg {
    background-image: url(../img/homepage-bg.jpg);
}
.homepage .title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
    color: #fff;
}
.homepage .subtitle {
    margin-top: 80px;
    color: #fff;
    font-weight: bold;
}
.homepage .play-btn {
    margin-bottom: 50px;
}
.homepage .play-btn button {
    padding: 17px 19px 13px 23px;
    border-radius: 50%;
    font-size: 20px;
    background: transparent;
    box-shadow: none;
    border: 1px solid #003d7c;
}
.homepage .play-btn p {
    width: 70px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

/* CONTACT US */
.contact-us form input, .contact-us form textarea {
    background: #000;
    border: none;
    margin-top: 10px;
}
.contact-us form input {
    margin: 10px 0;
}
.contact-us form input {
    height: 37px;
}
.contact-us .disclaimer {
    color: #fff;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.contact-us .submit-btn {
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    background: #003d7c;
    color: #fff;
    height: 37px;
    margin-top: 10px;
    text-transform: uppercase;
}
.contact-us .social-icons {
    padding: 15px 0 13px 0;
    margin: 0;
}
.contact-us .social-icons li {
    list-style: none;
    display: inline-block;
    padding: 0 3px;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.contact-us .social-icons li a {
    color: #fff;
}
.contact-us .social-icons li a i.fa-facebook-f {
    padding: 5px;
}
.contact-us .social-icons li a i.fa-instagram, .contact-us .social-icons li a i.fa-linkedin-in {
    padding: 5px 3px;
}
.contact-us .social-icons li a i.fa-youtube {
    padding: 5px 1px;
}

/* AUDIO */
.audio .subtitle {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    color: #a6a8b9;
    font-family: 'Poppins', sans-serif;
}
.audio .subsubtitle {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.audio .carousel .carousel-control {
    background: transparent;
    color: #fff !important;
}
.audio .carousel .carousel-control .glyphicon {
    border: 1px solid #8f8b89;
    padding: 20px;
    border-radius: 50%;
    width: auto;
    height: auto;
}
.audio .audio-player {
    padding: 15px;
}
.audio .audio-file {
    background-color: black;
    padding: 20px 0;
}
.audio .audio-player .text {
    padding: 5px 0;
}
.audio .audio-player .buttons {
    text-align: right;
    padding: 15px 30px;
}
.audio .audio-file > div > p:first-child {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}
.audio .audio-file > div > p:nth-child(2) {
    font-size: 20px;
    color: #7e7e7e;
}
.audio .audio-player button {
    font-size: 25px;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #e7e7e7;
}
.audio .audio-player .play-pause {
    background: #003d7c;
    color: #fff;
    box-shadow: none;
    border: none;
    padding: 10px 15px 9px 15px;
    border-radius: 50%;
    font-size: 25px;
    outline: none;
}
.audio .carousel-inner {
    width: 80%;
    margin: 0 auto;
}
/* audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 100%;
    height: 30px;
} */
/* #audio_player, .info, .error, input {
    display: block;
    width: 427px;
    margin: auto auto auto auto;
  }
  
  .info {
      background-color: aqua;     
  }
  
  .error {
      background-color: red;
      color: white;
  } */
  
#audio_player {
    padding:2px 2px 1px 2px;
    background-color: #1c1a19;
    width: 100%;;
    margin-top: 30px;
}
#audio_player > p {
    color: #fff;
    margin: 30px 10px;
    font-weight: bold;
}
#audio_player > div {
    color: #918c8a;
    margin: 30px 5px;
    cursor: pointer;
}

#audio_player button {
    color: #5b6279;
    background: transparent;
    border: none;
    margin: 30px 5px;
    outline: none;
}

#audio_player button.play {
    color: #fff;
}
  
#volume-bar {
    width: 70px;
    padding:0px 25px 0px 0px;
    background-color: black;
}
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
/* .replay { background-position:-133px 0; } */
  
progress {
    color: #fff;
    font-size: 12px;
    width: 50%;
    height: 10px;
    border: none;
    margin: auto 10px;
    background: #434343;
    border-radius: 9px;
    margin-top: 35px;
}

progress::-moz-progress-bar { 
    color:#fff;
    background:#434343;
    border-radius: 9px;
}
  
progress[value]::-webkit-progress-bar {
    background-color: #434343;
    border-radius: 2px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}
  
progress[value]::-webkit-progress-value {
    background-color: #fff;
}
  
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 40px 10px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    /* box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00; */
    background: #fff;
    border-radius: 1px;
    border: 1.1px solid #fff;
}
  input[type=range]::-webkit-slider-thumb {
    /* box-shadow: 2.6px 2.6px 3.7px #fff, 0px 0px 2.6px #fff; */
    border: 2.5px solid #fff;
    height: 18px;
    width: 9px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.9px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    /* box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00; */
    background: #fff;
    border-radius: 1px;
    border: 1.1px solid #18d501;
  }
  input[type=range]::-moz-range-thumb {
    /* box-shadow: 2.6px 2.6px 3.7px #fff, 0px 0px 2.6px #fff; */
    border: 2.5px solid #fff;
    height: 18px;
    width: 9px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 1.1px solid #fff;
    border-radius: 2px;
    /* box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00; */
  }
  input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 1.1px solid #fff;
    border-radius: 2px;
    /* box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00; */
  }
  input[type=range]::-ms-thumb {
    /* box-shadow: 2.6px 2.6px 3.7px #fff, 0px 0px 2.6px #fff; */
    border: 2.5px solid #fff;
    height: 18px;
    width: 9px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    height: 4.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #fff;
  }




/* Video */
.video .video-container {
    margin: 40px 0;
}
.video video {
    width: 100%;
    border: 3px solid #003d7c;
}
.video input[type=range] {
    margin: 25px 0;
    width: 50%;
}
.video .video-controls {
    position: absolute;
    bottom: 48px;
    left: 18px;
    width: 97%;
    background-image: linear-gradient(to bottom, transparent , black);
}
.video .video-controls button {
    margin: 15px 10px;
    background-color: transparent;
    border: none;
    color: #5b6279;
    outline: none;
}
.video .video-controls button#play-pause {
    color: #fff;
}
button#language {
    position: relative;
}
.video .video-controls > p {
    color: #fff;
    margin: 15px 10px;
}
.video .video-controls .languages {
    position: absolute;
    bottom: 15px;
    list-style: none;
    padding: 0;
    margin-left: -38px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    display: none;
}
.video .video-controls .languages li {
    padding: 3px 15px;
    color: #fff;
}
.video .video-controls .languages li:first-child {
    padding-top: 5px;
}
.video .video-controls .languages li:last-child {
    padding-bottom: 5px;
}
.video .video-controls .languages li:hover {
    background: #003d7c;
    border-radius: 10px;
    cursor: pointer;
}


/* Videos */
.video .videos-container {
    margin: 40px 0;
}
.videos-container .carousel-inner {
    text-align: center;
}
.videos-container .carousel-inner img {
    width: 100%;
    border-radius: 20px;
}
.videos-container .carousel-inner .img-container {
    width: 200px;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.videos-container .controls, .videos-container .video-data {
    position: absolute;
    width: 100%;
}
.videos-container .controls {
    top: 0;
}
.videos-container .video-data {
    bottom: 0;
    text-align: left;
}
.videos-container .controls .play {
    text-align: center;
    margin-top: 150px;
    width: auto;
}
.videos-container .img-container:hover {
    border: 2px solid #003d7c;
    border-radius: 20px;
}
.videos-container .img-container:hover .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    border-radius: 20px;
}
.videos-container .img-container:hover .controls .play {
    display: none;
}
.videos-container .controls .play > div {
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.6);
    color: rgba(255,255,255,0.6);
    border-radius: 50%;
    padding: 10px 14px;
}
.videos-container .controls .watch-options {
    display: none;
}
.videos-container .img-container:hover .controls .watch-options {
    display: block;
    text-align: center;
    margin-top: 124px;
}
.videos-container .controls .watch-options button {
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    padding: 7px 20px;
    border-radius: 30px;
    margin: 2px 0;
    background-color: transparent;
    border: 1px solid #003d7c;
}
.videos-container .controls .watch-options button:hover {
    background: #003d7c;
}
.videos-container .video-data {
    padding: 20px 15px;
}
.videos-container .video-data .video-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}
.videos-container .video-data .date {
    margin: 0;
    font-size: 12px;
    color: #969696;
}
.videos-container .video-data .star-rating {
    padding: 0;
    list-style: none;
    margin: 0;
    color: #ff8731;
    cursor: pointer;
}
.videos-container .video-data .star-rating li {
    display: inline-block;
}
.videos-container .carousel-control {
    width: auto;
}
.videos-container .carousel-control span {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    width: auto;
    height: auto;
}
.videos-container .suggested-item {
    position: relative;
}
.videos-container .suggested-videos .item {
    width: 200px;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.videos-container .suggested-videos .item img {
    width: 100%;
    border-radius: 5px;
}
.videos-container .suggested-item .video-data {
    padding: 15px;
}
.videos-container .suggested-videos .duration {
    background: #b2b2ad;
    display: inline-block;
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 4px;
}
.videos-container .meta {
    text-align: left;
}
.videos-container .meta .video-title {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.videos-container .meta .subtitle {
    color: #b2b2ad;
    font-size: 10px;
}














@media (min-width: 767px) {
    .audio .carousel .carousel-control .glyphicon-chevron-left {
        margin-left: -50px;
    }
    .audio .carousel .carousel-control .glyphicon-chevron-right {
        margin-right: -50px;
    }
}

@media (max-width: 1310px) {
    progress {
        width: 45%;
    }
}
@media (max-width: 1200px) {
    progress {
        width: 40%;
    }
}
@media (max-width: 1130px) {
    .video .video-controls button, .video .video-controls > p {
        margin: 15px 5px;
    }
}
@media (max-width: 1100px) {
    progress {
        width: 30%;
    }
}
@media (max-width: 860px) {
    progress {
        width: 30%;
    }
}
@media (max-width: 992px) {
    .video input[type=range] {
        width: 40%;;
    }
}
@media (max-width: 767px) {
    .homepage .title {
        font-size: 30px;
    }
    footer .links, footer .social-links {
        text-align: center;
    }
    footer .links {
        padding-bottom: 3px;
    }
    footer .social-links {
        padding-top: 3px;
    }
    footer .links li {
        padding: 0 3px;
    }
    footer .links a {
        font-size: 11px;
    }
    .footer-container {
        margin-top: 0;
    }
    .contact-us .disclaimer {
        margin-top: 40px;
        text-align: center;
    }
    .contact-us .social-icons {
        text-align: center;
        margin-bottom: 20px;
    }
    progress {
        width: 68%;
        margin-top: 5px;
    }
    input[type=range] {
        margin: 10px auto;
    }
    #audio_player button.mute, #audio_player button.unmute {
        margin: 0 auto;
    }
    .video .video-controls {
        width: 90%;
    }
    .video input[type=range] {
        width: 30%;;
    }
    .video .video-controls > p {
        font-size: 10px;
        margin: 20px 5px;
    }
    .videos-container .suggested-videos {
        text-align: center;
    }
}
@media screen and (max-width:64em) {
    figure {
       padding-left:0;
       padding-right:0;
       height:auto;
    }
 
    .controls {
       height:1.876rem;
    }
}
@media screen and (max-width:42.5em) {
    .controls {
       height:auto;
    }
 
    .controls > * {
       display:block;
       width:16.6667%;
       margin-left:0;
       height:2.5rem;
       margin-top:2.5rem;
    }
 
    .controls .progress {
       position:absolute;
       top:0;
       width:100%;
       float:none;
       margin-top:0;
    }
 
    .controls .progress progress {
       width:98%;
       margin:0 auto;
    }
 
    .controls button {
       background-position:center center;
    }
}